<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Etrain</title>
    <link rel="icon" href="img/logo_hitam.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- animate CSS -->
    <link rel="stylesheet" href="css/animate.css">
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <!-- themify CSS -->
    <link rel="stylesheet" href="css/themify-icons.css">
    <!-- flaticon CSS -->
    <link rel="stylesheet" href="css/flaticon.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="css/magnific-popup.css">
    <!-- swiper CSS -->
    <link rel="stylesheet" href="css/slick.css">
    <!-- style CSS -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>

<body>
    <!--::header part start::-->
    <header class="main_menu home_menu">
        <div class="container">
            <div class="row align-items-center" style="background-color:#5e72e4">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <a class="navbar-brand" href="index.html">
                            <img src="img/logoputih.png" alt="logo" style="max-width:100px"> </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse main-menu-item justify-content-end" id="navbarSupportedContent">
                            <ul class="navbar-nav align-items-center">
                                <li class="nav-item active">
                                    <a class="nav-link" href="index.html">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="about.html">About</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="searchBengkel.html">Cari Bengkel</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="mitra.html">Mitra</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="blog.html" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">
                                        Layanan
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="single-blog.html">Single blog</a>
                                        <a class="dropdown-item" href="elements.html">Elements</a>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="contact.html">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- Header part end-->

    <!-- banner part start-->
    <section class="banner_part" style="background-color:#5e72e4">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-xl-6">
                    <div class="banner_text">
                        <div class="banner_text_iner">
                            <h5>We Are Here For You</h5>
                            <h1>The Auto Mechanic That Comes To You</h1>
                            <p>Kendaraan Bagus Tapi Nggak Sempat Nyuci? Panggil MItra Kami Saja, Spesialis Kami Siap Datang
                                Kemanapun Dan Kapanpun. Monyo Menyediakan Para Mitra Bengkel yang Berpengalaman Juga Dalam
                                Layanan Cek Mesin, Ganti Oli Dan Aki.</p>
                            <!-- <a href="#" class="btn_1">View Course </a>
                            <a href="#" class="btn_2">Get Started </a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- banner part start-->

    <!-- feature_part start-->
    <section class="feature_part">
        <div class="container">
            <div class="tabs">

                <input type="radio" id="tab1" name="tab-control" checked>
                <input type="radio" id="tab2" name="tab-control">
                <input type="radio" id="tab3" name="tab-control">
                <input type="radio" id="tab4" name="tab-control">
                <ul>
                    <li title="Cuci Motor">
                        <a href="#cuciMotor" aria-controls="cuciMotor" role="tab" data-toggle="tab"></a>
                        <label for="tab1" role="button">
                            <br>
                            <img src="https://res.cloudinary.com/hepicar-production/image/upload/v1580104804/resources/ic_motorwash_stzob9.png" style="max-width:100px"
                                alt="">
                            </br>
                            <h2>Cuci Motor</h2>
                        </label>
                    </li>
                    <li title="Cuci Mobil">
                        <a href="#cuciMobil" aria-controls="cuciMobil" role="tab" data-toggle="tab"></a>
                        <label for="tab2" role="button">
                            <img src="https://res.cloudinary.com/hepicar-production/image/upload/v1580104778/resources/ic_detailing_lqkbzs.png" style="max-width:100px"
                                alt="">
                            <br>
                            <h2>Cuci Mobil</h2>
                        </label>
                    </li>
                    <li title="Bengkel Motor">
                        <a href="#bengkelMotor" aria-controls="bengkelMotor" role="tab" data-toggle="tab"></a>
                        <label for="tab3" role="button">
                            <img src="https://res.cloudinary.com/hepicar-production/image/upload/v1580104885/resources/ic_servismotor_aodzip.png" style="max-width:100px"
                                alt="">
                            <br>
                            <h2>Bengkel Motor</h2>
                        </label>
                    </li>
                    <li title="Bengkel Mobil">
                        <a href="#bengkelMobil" aria-controls="bengkelMobil" role="tab" data-toggle="tab"></a>
                        <label for="tab4" role="button">
                            <img src="https://res.cloudinary.com/hepicar-production/image/upload/v1580104847/resources/ic_servisumum_ukccxs.png" style="max-width:100px"
                                alt="">
                            <br>
                            <h2>Bengkel Mobil</h2>
                        </label>
                    </li>
                </ul>

                <div class="slider">
                    <div class="indicator"></div>
                </div>
                <div class="content">
                    <section>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="cuciMotor">
                                <div id="owl-example" class="owl-carousel" style="height:100%">
                                    <div class="card">
                                        <img src="https://res.cloudinary.com/hepicar/image/upload/v1557286617/Cuci_Tanpa_Air_uue9ys.png" alt="Avatar" style="max-width:100px">
                                        <div class="price-label">Rp 300.000</div>
                                        <div class="container">
                                            <h4>
                                                <b>Cuci Mobil Reguler</b>
                                            </h4>
                                            <p>Layanan Panggilan Cuci Wash & Wax Eksterior dan Interior Mobil Besar dengan metode
                                                pencucian menggunakan air</p>
                                            <a href="#" class="btn_3">Order Here</a>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <img src="https://res.cloudinary.com/hepicar/image/upload/v1557286617/Cuci_Tanpa_Air_uue9ys.png" alt="Avatar" style="max-width:100px">
                                        <div class="price-label">Rp 300.000</div>
                                        <div class="container">
                                            <h4>
                                                <b>Cuci Mobil Reguler</b>
                                            </h4>
                                            <p>Layanan Panggilan Cuci Wash & Wax Eksterior dan Interior Mobil Besar dengan metode
                                                pencucian menggunakan air</p>
                                            <a href="#" class="btn_3">Order Here</a>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <img src="https://res.cloudinary.com/hepicar/image/upload/v1557286617/Cuci_Tanpa_Air_uue9ys.png" alt="Avatar" style="max-width:100px">
                                        <div class="price-label">Rp 300.000</div>
                                        <div class="container">
                                            <h4>
                                                <b>Cuci Mobil Reguler</b>
                                            </h4>
                                            <p>Layanan Panggilan Cuci Wash & Wax Eksterior dan Interior Mobil Besar dengan metode
                                                pencucian menggunakan air</p>
                                            <a href="#" class="btn_3">Order Here</a>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <img src="https://res.cloudinary.com/hepicar/image/upload/v1557286617/Cuci_Tanpa_Air_uue9ys.png" alt="Avatar" style="max-width:100px">
                                        <div class="price-label">Rp 300.000</div>
                                        <div class="container">
                                            <h4>
                                                <b>Cuci Mobil Reguler</b>
                                            </h4>
                                            <p>Layanan Panggilan Cuci Wash & Wax Eksterior dan Interior Mobil Besar dengan metode
                                                pencucian menggunakan air</p>
                                            <a href="#" class="btn_3">Order Here</a>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <img src="https://res.cloudinary.com/hepicar/image/upload/v1557286617/Cuci_Tanpa_Air_uue9ys.png" alt="Avatar" style="max-width:100px">
                                        <div class="price-label">Rp 300.000</div>
                                        <div class="container">
                                            <h4>
                                                <b>Cuci Mobil Reguler</b>
                                            </h4>
                                            <p>Layanan Panggilan Cuci Wash & Wax Eksterior dan Interior Mobil Besar dengan metode
                                                pencucian menggunakan air</p>
                                            <a href="#" class="btn_3">Order Here</a>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <img src="https://res.cloudinary.com/hepicar/image/upload/v1557286617/Cuci_Tanpa_Air_uue9ys.png" alt="Avatar" style="max-width:100px">
                                        <div class="price-label">Rp 300.000</div>
                                        <div class="container">
                                            <h4>
                                                <b>Cuci Mobil Reguler</b>
                                            </h4>
                                            <p>Layanan Panggilan Cuci Wash & Wax Eksterior dan Interior Mobil Besar dengan metode
                                                pencucian menggunakan air</p>
                                            <a href="#" class="btn_3">Order Here</a>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <img src="https://res.cloudinary.com/hepicar/image/upload/v1557286617/Cuci_Tanpa_Air_uue9ys.png" alt="Avatar" style="max-width:100px">
                                        <div class="price-label">Rp 300.000</div>
                                        <div class="container">
                                            <h4>
                                                <b>Cuci Mobil Reguler</b>
                                            </h4>
                                            <p>Layanan Panggilan Cuci Wash & Wax Eksterior dan Interior Mobil Besar dengan metode
                                                pencucian menggunakan air</p>
                                            <a href="#" class="btn_3">Order Here</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </section>
                    <section>
                        <div role="tabpanel" class="tab-pane active" id="cuciMobil">
                            <div id="owl-example" class="owl-carousel" style="height:100%">
                                <div class="card">
                                    <img src="https://res.cloudinary.com/hepicar/image/upload/v1557286617/Cuci_Tanpa_Air_uue9ys.png" alt="Avatar" style="max-width:100px">
                                    <div class="container">
                                        <h4>
                                            <b>John Doe</b>
                                        </h4>
                                        <p>Architect & Engineer</p>
                                        <a href="#" class="btn_3">Order Here</a>
                                    </div>
                                </div>
                                <div class="card">
                                    <img src="https://res.cloudinary.com/hepicar/image/upload/v1557286617/Cuci_Tanpa_Air_uue9ys.png" alt="Avatar" style="max-width:100px">
                                    <div class="container">
                                        <h4>
                                            <b>John Doe</b>
                                        </h4>
                                        <p>Architect & Engineer</p>
                                        <a href="#" class="btn_3">Order Here</a>
                                    </div>
                                </div>
                                <div class="card">
                                    <img src="https://res.cloudinary.com/hepicar/image/upload/v1557286617/Cuci_Tanpa_Air_uue9ys.png" alt="Avatar" style="max-width:100px">
                                    <div class="container">
                                        <h4>
                                            <b>John Doe</b>
                                        </h4>
                                        <p>Architect & Engineer</p>
                                        <a href="#" class="btn_3">Order Here</a>
                                    </div>
                                </div>
                                <div class="card">
                                    <img src="https://res.cloudinary.com/hepicar/image/upload/v1557286617/Cuci_Tanpa_Air_uue9ys.png" alt="Avatar" style="max-width:100px">
                                    <div class="container">
                                        <h4>
                                            <b>John Doe</b>
                                        </h4>
                                        <p>Architect & Engineer</p>
                                        <a href="#" class="btn_3">Order Here</a>
                                    </div>
                                </div>
                                <div class="card">
                                    <img src="https://res.cloudinary.com/hepicar/image/upload/v1557286617/Cuci_Tanpa_Air_uue9ys.png" alt="Avatar" style="max-width:100px">
                                    <div class="container">
                                        <h4>
                                            <b>John Doe</b>
                                        </h4>
                                        <p>Architect & Engineer</p>
                                        <a href="#" class="btn_3">Order Here</a>
                                    </div>
                                </div>
                                <div class="card">
                                    <img src="https://res.cloudinary.com/hepicar/image/upload/v1557286617/Cuci_Tanpa_Air_uue9ys.png" alt="Avatar" style="max-width:100px">
                                    <div class="container">
                                        <h4>
                                            <b>John Doe</b>
                                        </h4>
                                        <p>Architect & Engineer</p>
                                        <a href="#" class="btn_3">Order Here</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section>
                        <div role="tabpanel" class="tab-pane active" id="bengkelMotor">
                            <div id="owl-example" class="owl-carousel">
                                <div class="card">
                                    <img src="https://res.cloudinary.com/hepicar/image/upload/v1557286617/Cuci_Tanpa_Air_uue9ys.png" alt="Avatar" style="max-width:100px">
                                    <div class="container">
                                        <h4>
                                            <b>John Doe</b>
                                        </h4>
                                        <p>Architect & Engineer</p>
                                        <a href="#" class="btn_3">Order Here</a>
                                    </div>
                                </div>
                                <div class="card">
                                    <img src="https://res.cloudinary.com/hepicar/image/upload/v1557286617/Cuci_Tanpa_Air_uue9ys.png" alt="Avatar" style="max-width:100px">
                                    <div class="container">
                                        <h4>
                                            <b>John Doe</b>
                                        </h4>
                                        <p>Architect & Engineer</p>
                                        <a href="#" class="btn_3">Order Here</a>
                                    </div>
                                </div>
                                <div class="card">
                                    <img src="https://res.cloudinary.com/hepicar/image/upload/v1557286617/Cuci_Tanpa_Air_uue9ys.png" alt="Avatar" style="max-width:100px">
                                    <div class="container">
                                        <h4>
                                            <b>John Doe</b>
                                        </h4>
                                        <p>Architect & Engineer</p>
                                        <a href="#" class="btn_3">Order Here</a>
                                    </div>
                                </div>
                                <div class="card">
                                    <img src="https://res.cloudinary.com/hepicar/image/upload/v1557286617/Cuci_Tanpa_Air_uue9ys.png" alt="Avatar" style="max-width:100px">
                                    <div class="container">
                                        <h4>
                                            <b>John Doe</b>
                                        </h4>
                                        <p>Architect & Engineer</p>
                                        <a href="#" class="btn_3">Order Here</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section>
                        <div role="tabpanel" class="tab-pane active" id="bengkelMobil">
                            <div id="owl-example" class="owl-carousel">
                                <div class="card">
                                    <img src="https://res.cloudinary.com/hepicar/image/upload/v1557286617/Cuci_Tanpa_Air_uue9ys.png" alt="Avatar" style="max-width:100px">
                                    <div class="container">
                                        <h4>
                                            <b>John Doe</b>
                                        </h4>
                                        <p>Architect & Engineer</p>
                                        <a href="#" class="btn_3">Order Here</a>
                                    </div>
                                </div>
                                <div class="card">
                                    <img src="https://res.cloudinary.com/hepicar/image/upload/v1557286617/Cuci_Tanpa_Air_uue9ys.png" alt="Avatar" style="max-width:100px">
                                    <div class="container">
                                        <h4>
                                            <b>John Doe</b>
                                        </h4>
                                        <p>Architect & Engineer</p>
                                        <a href="#" class="btn_3">Order Here</a>
                                    </div>
                                </div>
                                <div class="card">
                                    <img src="https://res.cloudinary.com/hepicar/image/upload/v1557286617/Cuci_Tanpa_Air_uue9ys.png" alt="Avatar" style="max-width:100px">
                                    <div class="container">
                                        <h4>
                                            <b>John Doe</b>
                                        </h4>
                                        <p>Architect & Engineer</p>
                                        <a href="#" class="btn_3">Order Here</a>
                                    </div>
                                </div>
                                <div class="card">
                                    <img src="https://res.cloudinary.com/hepicar/image/upload/v1557286617/Cuci_Tanpa_Air_uue9ys.png" alt="Avatar" style="max-width:100px">
                                    <div class="container">
                                        <h4>
                                            <b>John Doe</b>
                                        </h4>
                                        <p>Architect & Engineer</p>
                                        <a href="#" class="btn_3">Order Here</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- upcoming_event part start-->

    <!-- learning part start-->
    <section class="learning_part">
        <div class="container">
            <h6>Langkah Mudah Pemesanan Melalui Website</h6>
            <br>
            <div class="process-wrapper">
                <div id="progress-bar-container">
                    <ul>
                        <li class="step step01 active">
                            <div class="step-inner">1</div>
                        </li>
                        <li class="step step02">
                            <div class="step-inner">2</div>
                        </li>
                        <li class="step step03">
                            <div class="step-inner">3</div>
                        </li>
                        <li class="step step04">
                            <div class="step-inner">4</div>
                        </li>
                        <li class="step step05">
                            <div class="step-inner">5</div>
                        </li>
                    </ul>

                    <div id="line">
                        <div id="line-progress"></div>
                    </div>
                </div>

                <div id="progress-content-section">
                    <div class="section-content discovery active">
                        <img src="img/bg_layanan.png" alt="" style="width:300px">
                        <p>
                            <strong>1. Pilih Layanan</strong>
                        </p>
                        <p>Layanan dikategorikan sesuai dengan kebutuhanmu, Mau nyuci? Mau service? Kendaraan mogok? kamu bisa
                            pilih melalui kategori.</p>
                    </div>

                    <div class="section-content strategy">
                        <img src="img/bg_choose.png" alt="" style="width:300px">
                        <p>
                            <strong>2. Pilih Kendaraanmu</strong>
                        </p>
                        <p>Punya mobil dan motor? Tentukan kendaraan yang memerlukan layanan.</p>

                    </div>

                    <div class="section-content creative">
                        <img src="img/bg_find_location.png" alt="" style="width:300px">
                        <p>
                            <strong>3. Pilih Lokasi</strong>
                        </p>
                        <p>Pilih lokasi penjemputan layanan. Spesialis kami akan menuju tepat ke lokasi anda.</p>
                    </div>

                    <div class="section-content production">
                        <img src="img/bg_mekanik.png" alt="" style="width:300px">
                        <p>
                            <strong>4. Tunggu Spesialis Datang Ke Tempatmu</strong>
                        </p>
                        <p>Duduk manis di tempatmu dan nikmati waktumu.
                            <br>Spesialis kami akan segera hadir dan mengerjakan kendaraan anda.</p>
                    </div>

                    <div class="section-content analysis">
                        <img src="img/bg_review.png" alt="" style="width:300px">
                        <p>
                            <strong>5. Beri Penilaian Terhadap Pelayanan Bengkel</strong>
                        </p>
                        <p>Penilaian anda sangat bermanfaat bagi kemajuan pelayanan kami</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- learning part end-->

    <section class="member_counter">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-xl-6">
                    <img src="img/bg_mitra.png" alt="">
                </div>
                <div class="col-lg-6 col-xl-6">
                    <div class="banner_text">
                        <div class="banner_text_iner">
                            <h1>Bergabunglah Bersama Kami Menjadi Mitra dan Kembangkan Bengkelmu</h1>
                            <p style="color:white">Banyak orang memiliki kendaraan namun tidak punya waktu merawatnya bahkan sekedar mengantar ke
                                Bengkel. Mereka selalu memerlukan bantuan perawatan dan perbaikan. Keahlian Anda mencuci
                                kendaraan, mengecek mesin atau mengganti oli sangat dinantikan kehadirannya. Anda adalah
                                pahlawan bagi mereka. Jadilah #inspirasikebaikan bagi pelanggan-pelanggan yang membutuhkan
                                solusi dengan cepat dan dapatkan keutungannya bermitra dengan HEPICAR.</p>

                            <a href="#" class="btn_1">Join Here</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- footer part start-->
    <footer class="footer-area">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-sm-6 col-md-4 col-xl-3">
                    <div class="single-footer-widget footer_1">
                        <a href="index.html">
                            <img src="img/logo_hitam.png" alt="" style="width:100px"> </a>
                        <p>But when shot real her. Chamber her one visite removal six sending himself boys scot exquisite existend
                            an </p>
                        <p>But when shot real her hamber her </p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-xl-4">
                    <div class="single-footer-widget footer_2">
                        <h4>Newsletter</h4>
                        <p>Stay updated with our latest trends Seed heaven so said place winged over given forth fruit.
                        </p>
                        <form action="#">
                            <div class="form-group">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder='Enter email address' onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email address'">
                                    <div class="input-group-append">
                                        <button class="btn btn_1" type="button">
                                            <i class="ti-angle-right"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="social_icon">
                            <a href="#">
                                <i class="ti-facebook"></i>
                            </a>
                            <a href="#">
                                <i class="ti-twitter-alt"></i>
                            </a>
                            <a href="#">
                                <i class="ti-instagram"></i>
                            </a>
                            <a href="#">
                                <i class="ti-skype"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-md-4">
                    <div class="single-footer-widget footer_2">
                        <h4>Contact us</h4>
                        <div class="contact_info">
                            <p>
                                <span> Address :</span> Hath of it fly signs bear be one blessed after </p>
                            <p>
                                <span> Phone :</span> +2 36 265 (8060)</p>
                            <p>
                                <span> Email : </span>info@colorlib.com </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="copyright_part_text text-center">
                            <div class="row">
                                <div class="col-lg-12">
                                    <p class="footer-text m-0">
                                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                        Copyright &copy;
                                        <script>
                                            document.write(new Date().getFullYear());
                                        </script> All rights reserved
                                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </footer>
    <!-- footer part end-->

    <!-- jquery plugins here-->
    <!-- jquery -->
    <script src="js/jquery-1.12.1.min.js"></script>
    <!-- popper js -->
    <script src="js/popper.min.js"></script>
    <!-- bootstrap js -->
    <script src="js/bootstrap.min.js"></script>
    <!-- easing js -->
    <script src="js/jquery.magnific-popup.js"></script>
    <!-- swiper js -->
    <script src="js/swiper.min.js"></script>
    <!-- swiper js -->
    <script src="js/masonry.pkgd.js"></script>
    <!-- particles js -->
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <!-- swiper js -->
    <script src="js/slick.min.js"></script>
    <script src="js/jquery.counterup.min.js"></script>
    <script src="js/waypoints.min.js"></script>
    <!-- custom js -->
    <script src="js/custom.js"></script>

    <!-- owl carousel CSS -->
    <link rel="stylesheet" type="text/css" href="OwlCarousel2-2.3.4/OwlCarousel2-2.3.4/dist/assets/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="OwlCarousel2-2.3.4/OwlCarousel2-2.3.4/dist/assets/owl.theme.default.min.css">
    <script src="OwlCarousel2-2.3.4/OwlCarousel2-2.3.4/docs/assets/vendors/jquery.min.js" type="text/javascript"></script>
    <script src="OwlCarousel2-2.3.4/OwlCarousel2-2.3.4/dist/owl.carousel.js" type="text/javascript"></script>


    <script type="text/javascript">
        $(document).ready(function () {
            $(".owl-carousel").owlCarousel({
                items: 3,
                loop: true,
                margin: 10,
                autoplay: true,
                autoplayTimeout: 10000,
                autoplayHoverPause: true,
                responsiveClass: true,
                responsive: {
                    360: {
                        items: 2,
                    },
                    768: {
                        items: 3,
                    },
                    1240: {
                        items: 4,
                    }
                }
            });


            $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                e.target // newly activated tab
                e.relatedTarget // previous active tab
                $(".owl-carousel").trigger('refresh.owl.carousel');
            });

        });


        $(".step").click(function () {
            $(this).addClass("active").prevAll().addClass("active");
            $(this).nextAll().removeClass("active");
        });

        $(".step01").click(function () {
            $("#line-progress").css("width", "3%");
            $(".discovery").addClass("active").siblings().removeClass("active");
        });

        $(".step02").click(function () {
            $("#line-progress").css("width", "25%");
            $(".strategy").addClass("active").siblings().removeClass("active");
        });

        $(".step03").click(function () {
            $("#line-progress").css("width", "50%");
            $(".creative").addClass("active").siblings().removeClass("active");
        });

        $(".step04").click(function () {
            $("#line-progress").css("width", "75%");
            $(".production").addClass("active").siblings().removeClass("active");
        });

        $(".step05").click(function () {
            $("#line-progress").css("width", "100%");
            $(".analysis").addClass("active").siblings().removeClass("active");
        });
    </script>
</body>

</html>