<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Etrain</title>
    <link rel="icon" href="img/logo_hitam.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- animate CSS -->
    <link rel="stylesheet" href="css/animate.css">
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <!-- themify CSS -->
    <link rel="stylesheet" href="css/themify-icons.css">
    <!-- flaticon CSS -->
    <link rel="stylesheet" href="css/flaticon.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="css/magnific-popup.css">
    <!-- swiper CSS -->
    <link rel="stylesheet" href="css/slick.css">
    <!-- style CSS -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>

<body>
    <!--::header part start::-->
    <header class="main_menu home_menu">
        <div class="container">
            <div class="row align-items-center" style="background-color:#5e72e4">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <a class="navbar-brand" href="index.html">
                            <img src="img/logoputih.png" alt="logo" style="max-width:100px"> </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse main-menu-item justify-content-end" id="navbarSupportedContent">
                            <ul class="navbar-nav align-items-center">
                                <li class="nav-item active">
                                    <a class="nav-link" href="index.html">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="about.html">About</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="searchBengkel.html">Cari Bengkel</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="mitra.html">Mitra</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="blog.html" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">
                                        Layanan
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="single-blog.html">Single blog</a>
                                        <a class="dropdown-item" href="elements.html">Elements</a>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="contact.html">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <section class="listing listing_bg">
        <div class="container">
            <h4>Mitra Monyo</h4>
            <p>Bergabung Menjadi Mitra Monyo dan Jadikan Kesempatan
                <br> Untuk Meningkatkan Kemampuan dan Pencapaian Anda</p>
        </div>
    </section>

    <!-- Header part end-->
    <section class="mitra_part">
        <div class="container">
            <h6>Langkah Mudah Pemesanan Melalui Website</h6>
            <br>
            <div class="process-wrapper">
                <div id="progress-bar-container">
                    <ul>
                        <li class="step step01 active">
                            <div class="step-inner">1</div>
                        </li>
                        <li class="step step02">
                            <div class="step-inner">2</div>
                        </li>
                        <li class="step step03">
                            <div class="step-inner">3</div>
                        </li>

                        <div id="line" style="width:40%;margin-top:30px">
                            <div id="line-progress"></div>
                        </div>
                </div>

                <div id="progress-content-section">
                    <div class="section-content discovery active">
                        <p>
                            <strong>1. Profile Akun</strong>
                        </p>
                        <div class="row">
                            <div class="col-sm-6">
                                <img src="img/blog/mitra_bg2.png" alt="logo" style="max-width:110%;height:94%">
                            </div>
                            <div class="col-sm-6">
                                <div class="form_profile">
                                    <form action="/action_page.php">
                                        <label for="fname">Nama</label>
                                        <input type="text" id="nama" name="nama" placeholder="Your name..">

                                        <label for="lname">Email</label>
                                        <input type="text" id="email" name="email" placeholder="Your email..">

                                        <label for="lname">No Hp</label>
                                        <input type="text" id="phone" name="phone" placeholder="Your phone..">
                                        <input type="submit" value="Buat Akun">
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="section-content strategy">
                        <p>
                            <strong>2. Profile Bengkel</strong>
                        </p>
                        <div class="row">
                            <div class="col-sm-6">
                                <img src="img/blog/mitra_bg2.png" alt="logo" style="max-width:115%;height:94%">
                            </div>
                            <div class="col-sm-6">
                                <div class="form_profile">
                                    <form action="/action_page.php">
                                        <label for="fname">Nama</label>
                                        <input type="text" id="nama" name="nama" placeholder="Your name..">

                                        <label for="lname">Email</label>
                                        <input type="text" id="email" name="email" placeholder="Your email..">

                                        <label for="lname">No Hp</label>
                                        <input type="text" id="phone" name="phone" placeholder="Your phone..">

                                        <label for="lname">Lokasi</label>
                                        <input type="text" id="lokasi" name="lokasi" placeholder="Your location..">
                                        <input type="submit" id="buat" value="Lanjutkan">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="section-content creative">
                        <p>
                            <strong>3. Konfirmasi</strong>
                        </p>
                        <div class="form_profile">
                            <p>Semua Data yang telah saya isi sebelumnya sudah benar sesuai dengan data aslinya</p>
                            <input type="submit" value="Daftar Sekarang">
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <section class="benefit_part">
        <h6>Keuntungan Bergabung Menjadi Mitra Kami</h6>
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <img src="https://hepicar.com/_nuxt/img/c63e1aa.png" alt="">
                    <p>Waktu Fleksibel</p>
                    <p>Tetapkan waktu kerja Anda sendiri</p>
                </div>
                <div class="col-sm-4">
                    <img src="https://hepicar.com/_nuxt/img/ff9854e.png" alt="">
                    <p>Jaringan Luas</p>
                    <p>Anda bisa memperluas jaringan kerja Anda melalui jaringan kemitraan kami yang luas.</p>
                </div>
                <div class="col-sm-4">
                    <img src="https://hepicar.com/_nuxt/img/fcee5f4.png" alt="">
                    <p>Fasilitas dan Reward</p>
                    <p>Dapatkan fasilitas dan reward selama aktif sebagai mitra kami.</p>
                </div>
            </div>
        </div>

    </section>

    <!-- footer part start-->
    <footer class="footer-area">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-sm-6 col-md-4 col-xl-3">
                    <div class="single-footer-widget footer_1">
                        <a href="index.html">
                            <img src="img/logo_hitam.png" alt="" style="width:100px"> </a>
                        <p>But when shot real her. Chamber her one visite removal six sending himself boys scot exquisite existend
                            an </p>
                        <p>But when shot real her hamber her </p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-xl-4">
                    <div class="single-footer-widget footer_2">
                        <h4>Newsletter</h4>
                        <p>Stay updated with our latest trends Seed heaven so said place winged over given forth fruit.
                        </p>
                        <form action="#">
                            <div class="form-group">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder='Enter email address' onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email address'">
                                    <div class="input-group-append">
                                        <button class="btn btn_1" type="button">
                                            <i class="ti-angle-right"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="social_icon">
                            <a href="#">
                                <i class="ti-facebook"></i>
                            </a>
                            <a href="#">
                                <i class="ti-twitter-alt"></i>
                            </a>
                            <a href="#">
                                <i class="ti-instagram"></i>
                            </a>
                            <a href="#">
                                <i class="ti-skype"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-md-4">
                    <div class="single-footer-widget footer_2">
                        <h4>Contact us</h4>
                        <div class="contact_info">
                            <p>
                                <span> Address :</span> Hath of it fly signs bear be one blessed after </p>
                            <p>
                                <span> Phone :</span> +2 36 265 (8060)</p>
                            <p>
                                <span> Email : </span>info@colorlib.com </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="copyright_part_text text-center">
                            <div class="row">
                                <div class="col-lg-12">
                                    <p class="footer-text m-0">
                                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                        Copyright &copy;
                                        <script>
                                            document.write(new Date().getFullYear());
                                        </script> All rights reserved
                                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </footer>
    <!-- footer part end-->


    <!-- jquery plugins here-->
    <!-- jquery -->
    <script src="js/jquery-1.12.1.min.js"></script>
    <!-- popper js -->
    <script src="js/popper.min.js"></script>
    <!-- bootstrap js -->
    <script src="js/bootstrap.min.js"></script>
    <!-- easing js -->
    <script src="js/jquery.magnific-popup.js"></script>
    <!-- swiper js -->
    <script src="js/swiper.min.js"></script>
    <!-- swiper js -->
    <script src="js/masonry.pkgd.js"></script>
    <!-- particles js -->
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <!-- swiper js -->
    <script src="js/slick.min.js"></script>
    <script src="js/jquery.counterup.min.js"></script>
    <script src="js/waypoints.min.js"></script>
    <!-- custom js -->
    <script src="js/custom.js"></script>

    <!-- owl carousel CSS -->
    <link rel="stylesheet" type="text/css" href="OwlCarousel2-2.3.4/OwlCarousel2-2.3.4/dist/assets/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="OwlCarousel2-2.3.4/OwlCarousel2-2.3.4/dist/assets/owl.theme.default.min.css">
    <script src="OwlCarousel2-2.3.4/OwlCarousel2-2.3.4/docs/assets/vendors/jquery.min.js" type="text/javascript"></script>
    <script src="OwlCarousel2-2.3.4/OwlCarousel2-2.3.4/dist/owl.carousel.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".owl-carousel").owlCarousel({
                items: 3,
                loop: true,
                margin: 10,
                autoplay: true,
                autoplayTimeout: 10000,
                autoplayHoverPause: true,
                responsiveClass: true,
                responsive: {
                    360: {
                        items: 2,
                    },
                    768: {
                        items: 3,
                    },
                    1240: {
                        items: 4,
                    }
                }
            });


            $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                e.target // newly activated tab
                e.relatedTarget // previous active tab
                $(".owl-carousel").trigger('refresh.owl.carousel');
            });

        });


        $(".step").click(function () {
            $(this).addClass("active").prevAll().addClass("active");
            $(this).nextAll().removeClass("active");
        });

        $(".step01").click(function () {
            $("#line-progress").css("width", "3%");
            $(".discovery").addClass("active").siblings().removeClass("active");
        });

        $(".step02").click(function () {
            $("#line-progress").css("width", "50%");
            $(".strategy").addClass("active").siblings().removeClass("active");
        });

        $(".step03").click(function () {
            $("#line-progress").css("width", "100%");
            $(".creative").addClass("active").siblings().removeClass("active");
        });
    </script>
</body>

</html>